.league-links{
    display: inline-block;
    position: relative;
    text-decoration: none;
    text-align: center;
    color: white;
    background-color: #123;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 40px;
    width: 200px;
    line-height: 38px;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
}

.league-links:hover{
    transition-property: background-color;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
    background-color: white;
    color: black;
}

.league-links::active{
    transition-property: background-color;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
    background-color: #012;
    color: white;
}

@media (max-width:400px){
    #dashboard{
    height:auto;
    }
    main{
    height:900px;
    }
    .league-links{
    width:270px;
    height:50px;
    line-height:60px;
    }
    #info{
    position:relative;
    top:5px;
    margin-left:2px;
    bottom:10px;
    }
}